@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.Nav {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: 2px solid red;
  height: 80px;
  margin: 0px;
  padding-right: 12px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 4;
  align-items: center;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav-links > p {
  padding-left: 8px;
  padding-right: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.nav-logo {
  align-self: left;
}

.logo {
  width: auto;
  height: auto;
  max-width: 600px;
  max-height: 30px;
}

.Home {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: 2px solid blue;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.Details {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: 2px solid purple;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.NotFound {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: 2px solid green;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.Footer {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: 2px solid red;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
