@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.Nav {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 80px;
  width: 100;
  margin: 0px;
  padding-right: 12px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-between;
  color: #4a4a4a;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 4;
  align-items: center;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav-links > span {
  padding-left: 8px;
  padding-right: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.nav-logo {
  align-self: left;
}

.logo {
  width: auto;
  height: auto;
  max-width: 600px;
  max-height: 30px;
}

.Home {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: 2px solid #ededed;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.Details {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: 2px solid #ededed;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.banner {
  min-height: 350px;
  width: 100vw;
  background: #ededed;
  align-self: flex-start;
}

.details-info {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 24px;
  padding-left: 100px;
  padding-right: 100px;
  height: 500px;
}

.first,
.second {
  /* border: 1px solid black; */
  flex-basis: 50%;
  text-align: left;
  align-self: flex-start;
  margin-top: -24px;
  color: #4a4a4a;
}

.first {
  margin-right: 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  min-width: 200px;
  max-width: 350px;
}

.first > h1 {
  font-family: 'Roboto Bold', sans-serif;
  font-size: 32px;
}

.stock {
  font-size: 14px;
}

.second {
  margin-top: 4px;
  margin-left: 24px;
  border: 1px solid #ededed;
  max-width: 270px;
  min-width: 200px;
}

button {
  height: 32px;
  width: 128px;
  background: #ea7f28;
  color: #ededed;
}

button:focus {
  height: 32px;
  width: 128px;
  background: #d37324;
  color: #ededed;
}

.detail-button {
  align-items: left;
}
.contents {
  padding-top: 8px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  font-size: 12px;
  max-width: 250px;
  min-width: 200px;
}

.NotFound {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: 2px solid #ededed;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: 'Roboto', sans-serif;
  color: #4a4a4a;
}

.vier > h1 {
  font-size: 32px;
  font-family: 'Roboto Bold', sans-serif;
}

.vier > h2 {
  font-size: 18px;
  color: #4a4a4a;
}

.vier > h2 > span > .homepage > h2 {
  font-size: 18px;
  display: inline-block;
  color: #ea7f28;
}

.vier > h2 > span > .homepage > h2:hover {
  font-size: 18px;
  display: inline-block;
  color: #ea7f28;
  text-decoration: underline;
}

.Footer {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 80px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #4a4a4a;
}
